<div class="col-md-offset-4 col-md-4">
  
  <h1>Log In</h1>
  <%= bootstrap_form_for(:session, url: login_path) do |f| %> 
  <%= f.text_field :email, label: "Name", :placeholder => "Name" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 
  <%= f.submit "Log in", class: "btn-submit" %>
<% end %>
</div>

