
<div class="col-md-offset-4 col-md-4">
  
  <h1>Sign Up</h1>
  <%= bootstrap_form_for @visitor do |f| %>

  <%= f.text_field :email%>
  <%= f.password_field :password %>
    <br>
    <div class="col-md-offset-4"><%= f.submit %></div>
  <% end %>
</div>