@import "bootstrap-sprockets";
@import "bootstrap";

/* HTML */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
}

/* Navigation */

.navbar {
  background-color: #3D0052;
   
}

#home > li > a {
  color: white;
  font-size: 15px;
}

body > nav > div > div.navbar-header > p > a {
    color: white;
  font-size: 20px;
}

/* Body */

body {
  padding-top: 80px;
  padding_bottom: 100px;
  margin: auto;
}

#theatre {
    text-align: center;
}

/* Button */

.addbutton {
  float: right;
  margin-right: 10%;
}

/* Headers */
h1 {
  text-align: center;
}


/* Tables */

.table > tbody > tr > td {
     vertical-align: middle;
}

/* Footer */


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #3D0052;
  padding: 15px;
  margin-top: 20px;
}
