@import "bootstrap-sprockets";
@import "bootstrap";

/* HTML */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

* {
  font-family: verdana, arial, helvetica, sans-serif;
}

/* Navigation */

.navbar {
  background-color: #3D0052;
  font-size: 15px;
 }

#home > li > a {
  color: white;
  font-size: 15px;
  padding-top: 15px;
}


body > nav > div > div.navbar-header > p > a {
    color: white;
  font-size: 20px;
  padding-top: 20px;
  
}

/* FLASH MESSAGES */
.flashes {
  margin-top: -20px;
}

/* Body */

body {
  padding-top: 80px;
  padding_bottom: 100px;
  margin: auto;
}

#theatre {
    text-align: center;
}

.images {
  text-align:center;
}

/* Button */

.addbutton {
  float: right;
  margin-right: 10%;
}

.my-btn {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, #845E92, #2B0039);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

  background-color: #3D0052;
  border-color: #2B0039;
  color: white;
 }

.btn
{
  background-color: #845E92;
  border-color: #2B0039;
  color: white;
}

/* Forms */

.form {
  margin-top: 30px; 
  padding: 20px; 
  border: 1px solid gray;
}


/* Headers */
h1 {
  text-align: center;
}

.flash {
  margin-top: -10px;
}

/* Tables */

.table > tbody > tr > td {
     vertical-align: middle;
}

/* Footer */


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #3D0052;
  padding: 15px;
  margin-top: 20px;
  
}
