
<div class="col-md-offset-4 col-md-4">
  

  <%= bootstrap_form_for (@show) do |f| %>

<%= f.text_field :name %>
<%= f.file_field :picture %>
  <br>
  <div class="col-md-offset-4"><%= f.submit %></div>
<% end %>
</div>